h1 {
   color: #000000;
   background: #FFFFFF;
   text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
   color: #000000;
   background: #FFFFFF;
}

h2 {
   color: #000000;
   background: #FFFFFF;
   text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
   color: #000000;
   background: #FFFFFF;
}

legend {
   background-color: #000;
   color: #fff;
   padding: 3px 6px;
}

fieldset {
   margin-bottom: 20px;
}